@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(196, 191, 187); */
}

.app-container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  padding: 0 10px;
  min-height: calc(100vh - 60px);

  /* margin: auto; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background: #1d49aa;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
button[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
